@tailwind base;
@tailwind components;
@tailwind utilities;

.animate_rubberband:hover{
  display:block;
  animation: 1s ease 0s 1 normal none running rubberband;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-slide {
  animation: fadeSlide 1s ease-out forwards;
}


@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scaleX(1);
  }
}

*{
  scroll-behavior:smooth;
}

body{
  font-family: 'Inter';
  background-color: rgb(249 250 251);
}

@keyframes ping-once {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-ping-once {
  animation: ping-once 0.6s ease-out;
}

@media print {
  .no-print {
    display: none !important;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .form-heading{
    @apply text-3xl font-semibold text-gray-800;
  }
  .nav-btn{
    @apply px-5 py-2 text-base font-semibold bg-gray-900 text-white rounded-lg hover:bg-gray-800 transition-all shadow-sm;
  }
  .form-box{
    @apply bg-white p-6 rounded-2xl shadow-md grid grid-cols-1 md:grid-cols-2 gap-6;
  }
  .resume-page{
    @apply min-h-screen w-full md:ml-[216px] p-6 md:p-10 ;
  }

  .input2 {
    @apply w-full px-3 py-2 rounded-md border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
  .btn-save {
    @apply text-white max-w-fit text-sm sm:text-base font-semibold bg-gray-950 hover:bg-gray-700 transition-all duration-300 px-8 py-2 rounded-lg shadow-lg;
  }

  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition;
  }

  .btn-danger {
    @apply bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition;
  }

  .btn-accent {
    @apply bg-gradient-to-br from-pink-500 to-orange-400 text-white px-4 py-2 rounded-md hover:from-orange-400 hover:to-pink-500 transition;
  }

  .btn-edit {
    @apply text-sm bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600;
  }

  .btn-delete {
    @apply text-sm bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .input {
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .input2 {
    @apply border border-gray-300 text-gray-900 max-w-lg text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .primaryBg {
    @apply bg-gradient-to-br from-orange-500 to-pink-400;
  }
}
:root {
  font-family: "Poppins", sans-serif !important;
}

.skill-select .select__control {
  min-height: 100px;
  height: auto;
  padding-top: 0px;
}

* {
  padding: 0;
  margin: 0;
}
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
